li {
  float: left;
  padding-right: 40px
}

ul {
  list-style-type: none;
  padding-bottom: 20px;
  padding-top: 20px;
}

.navigationlinks a {
  text-decoration: none;
}

p {
  float: left;
  padding-left: 40px;
}
